<div class="container">
  <div class="authForm">
    <form [formGroup]="authForm">
      <label for="userName" class="userNameLabel">
        User Name
      </label>
      <input formControlName="userName" type="text" class="userNameInput">
    </form>
    <button class="btn" (click)="login()"> Login </button>

    <ol>
      <p>User name List:</p>
      <li>Bret</li>
      <li>Antonette</li>
      <li>Samantha</li>
      <li>Karianne</li>
      <li>Kamren</li>
      <li>Leoplido_Corkery</li>
      <li>Elwyn.Skiles</li>
    </ol>

  </div>
</div>
