.container {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 20px;

  .authForm {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    border: 1px solid black;
    padding: 5%;
    background-color: rgb(129, 73, 202);

    .userNameLabel {
      color: whitesmoke;
      font-weight: bold;
      display: block;
      text-align: center;
      margin-bottom: 10%;


    }

    .userNameInput{
      display: block;
      margin-bottom: 10%;
      font-size: 20px;
    }

    .btn {
      padding: 5% 10%;
      margin-bottom: 5px;
      font-size: 18px;

    }

    .btn:hover {
      background-color: gray;
      color: whitesmoke;
    }

  }

}
