  .container  {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profileCard {
      border: 1px solid black;
      width: 60%;
      margin-bottom: 2%;
      background-color: rgb(171, 136, 199);
      padding: 5px;

      .title {
        color: silver;
        text-decoration: underline;
      }

      .item {
        margin-bottom: 5px;
        border-bottom: 1px dotted gray;

        input {
          background-color: rgb(171, 136, 199);
          outline: none;
          border: none;
          font-family: 'Courier New', Courier, monospace;
          font-size: 18px;
          color: white;
          width: 80%;
          word-wrap: break-word;
        }

        input:focus {
          color: black;
          background-color: white;
          word-wrap: break-word;

        }

        label {
          font-weight: bold;
          padding-right: 5px;
          font-size: 18px;
        }
      }

    }
    .btn {
      padding: 20px;
      width: 30%;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 2px;
    }
}
