<div class="container">

  <h2> Profile Info </h2>

  <div class="profileCard">
    <form [formGroup]="userForm">
      <h3 class="title"> Personal Info:</h3>
      <div class="item">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name">
      </div>
      <div class="item">
        <label for="username">User Name:</label>
        <input type="text" id="username" formControlName="username">
      </div>
      <div class="item">
        <label for="email">Email:</label>
        <input type="text" id="email" formControlName="email">
      </div>
      <div class="item">
        <label for="phone">Phone: </label>
        <input type="text" id="phone" formControlName="phone">
      </div>
      <div class="item">
        <label for="website">Web Site: </label>
        <input type="text" id="website" formControlName="website">
      </div>
      <div formGroupName="address">
        <h3 class="title"> Address:</h3>
        <div class="item">
          <label for="street"> Street: </label>
          <input type="text" id="street" formControlName="street">
        </div>
        <div class="item">
          <label for="street"> Suite: </label>
          <input type="text" id="suite" formControlName="suite">
        </div>
        <div class="item">
          <label for="city"> City: </label>
          <input type="text" id="city" formControlName="city">
        </div>
        <div class="item">
          <label for="city"> ZipCode: </label>
          <input type="text" id="zip-code" formControlName="zipcode">
        </div>
      </div>
      <div formGroupName="company">
        <h3 class="title">Company:</h3>
        <div class="item">
          <label for="name"> Company Name: </label>
          <input type="text" id="name" formControlName="name">
        </div>
        <div class="item">
          <label for="name"> Catch Phrase: </label>
          <input type="text" id="catchPhrase" formControlName="catchPhrase">
        </div>
      </div>
    </form>
  </div>
  <button class="btn" (click)="update()"> Update </button>
  <button class="btn" routerLink="/">Back</button>
</div>
