.container {
width: 40%;
height: 40%;
position: absolute;
left: 30%;
top: 20%;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;

  .message {
    padding: 15%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid grey;
    background-color: rgb(151, 56, 32);
    opacity: 0.9;
    color: white;
    font-size: 18px;
  }

  .btn {
    padding: 20px;
    width: 30%;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
  }
}
